<a href="https://colab.research.google.com/github/manjushree7/Big-Data/blob/main/2331414_ManjushreeTamang_BigData_Workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""To ask a value from the end user and store it to reuse later, first take a variable and store the value.
The "input" keyword helps to take value from the end user """
first_name = input("Please Enter Your First Name: ")

Please Enter Your First Name: Manjushree

In [ ]:
"""To show the output python has a keyword "print" which prints the output"""
print(first_name)

Manjushree

In [ ]:
"""Here we are asking user to enter a value and checks if its negative, non-negative or positive
by the control structure"""
value = int(input("Please Enter a Number: ")) #input keyword always takes any value as a string. Thus, we use int() function
#it is called casting. It converts a value to different data types
if value < 0:
  print('The number is negative')
elif value == 0:
  print('The number is non-negative')
else:
  print('The number is positive')

Please Enter a Number: -1234
The number is negative

In [ ]:
"""Find the sum of all integers from 1 to 10 using while loop"""
total = 0
counter = 1
while counter <= 10: #stopping condition
  total = total + counter #sum
  counter += 1 #increament
print(total)

55

In [ ]:
"""A list can be created using a comma-separated sequence within square brackets"""
first_list = [1, 2, 3, 8]

In [ ]:
"""In a list, the individual items can be accessed by subscript/index:"""
print("First value of the list is ", first_list[0])
print("Last value of the list is ", first_list[-1])

First value of the list is  1
Last value of the list is  8

In [ ]:
"""The elements of a list can also be accessed by traversing the list using the iterator mechanism:"""
for values in first_list:
  print(values)

1
2
3
8

In [ ]:
#append
first_list.append(10)
print("After adding another element in the list, the list is ", first_list)

#modify
first_list[2] = 5
print("After modifying an element in the list, the list is ", first_list)

#insert: elements can be inserted in any positon/index
first_list.insert(2, 12)
print("After inserting an element in the list in the third position, the list is ", first_list)

After adding another element in the list, the list is  [1, 2, 3, 8, 10]
After modifying an element in the list, the list is  [1, 2, 5, 8, 10]
After inserting an element in the list in the third position, the list is  [1, 2, 12, 5, 8, 10]

In [ ]:
"""There are lot of ways to access elements of the dictionary. However, we will parctice the most common one.
The traversal using the iterator mechanism (for statement) is made over the keys in a dictionary"""
zipCode = {'London':290, 'Leeds':578, 'Wolverhampton':911}
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  290
Leeds =  578
Wolverhampton =  911

In [ ]:
"""To explicitely find the list of keys or list value we can use the following"""
key_list = zipCode.keys()
value_list = zipCode.values()
print(key_list)
print(value_list)

dict_keys(['London', 'Leeds', 'Wolverhampton'])
dict_values([290, 578, 911])

In [ ]:
"""To change the value of a corresponding key we can do the following"""
zipCode['London'] = 666
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  666
Leeds =  578
Wolverhampton =  911

In [ ]:
"""Using the same technique we can add another entry. However, the key must be unique.
Duplicate key name will modify the value only"""
zipCode['Birmingham'] = 111
for key in zipCode:
  print(key, '= ', zipCode[key])

London =  666
Leeds =  578
Wolverhampton =  911
Birmingham =  111

In [ ]:
def oddEven(num):
  if num%2 == 0:
    print('The number is even')
  else:
    print('The number is odd')
  return
num = int(input("Please Enter a Number: "))
oddEven(num)

Please Enter a Number: 23
The number is odd

## Workshop Solutions

In [ ]:
# Question 1
"""
This program prints Fibonacci series up to 10 terms
"""

print("The Fibonacci series up to 10 terms: ")
n = 10
first_num = 0
second_num = 1
sum_num = second_num

for i in range(n):
  print(first_num, end=" ")
  first_num, second_num = second_num, sum_num
  sum_num = first_num + second_num

print()

The Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Question 2
"""
This program allows the user to find the factorial of their choice
"""
num = int(input("Please enter positive number to find its factorial: "))
factorial = 1
for i in range(1, num +1):
  factorial = i * factorial
print(f"The factorial of {num} is:", factorial)

Please enter positive number to find its factorial: 4
The factorial of 4 is: 24

In [ ]:
# Question 3
"""
This program print right angle triangle using the for loop
"""
def triangle(num):
  for i in range(1, num+1):
    for j in range(1, i+1):
      print("* ", end= "")
    print(" ")
num = 5
triangle(num)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Question 4
"""
This program make a simple calculator that can add, subtract, multiply and divide two numbers using function
"""
def add(x, y):
  return x + y

def sub(x, y):
  return x - y

def multiply(x, y):
  return x * y

def divide(x, y):
  return x / y

print("Select an operation: \n")
print(" 1.Add \n 2.Subtract \n 3. Multiply \n 4. Divide\n")

choice = int(input("Enter choice(1/2/3/4): "))

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if choice == 1:
  print(num1, "+", num2, "=", add(num1, num2))
elif choice == 2:
  print(num1, "-", num2, "=", sub(num1, num2))
elif choice == 3:
  print(f"{num1} x {num2} = {multiply(num1, num2)}")
elif choice == 4:
  print(f"{num1} / {num2} = {divide(num1, num2)}")
else:
  print("Invalid Input")

Select an operation:

 1.Add
 2.Subtract
 3. Multiply
 4. Divide

Enter choice(1/2/3/4): 1
Enter first number: 12
Enter second number: 1
12 + 1 = 13

In [ ]:
# Question 5
"""
This program remove the duplicate element of a list
"""
list1 = [1, 2, 2, 3, 3, 3, 4, 5, 6, 7, 7]
print("Original list", list1)

list1 = list(set(list1))
print("List without duplicates:", list1)

Original list [1, 2, 2, 3, 3, 3, 4, 5, 6, 7, 7]
List without duplicates: [1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Question 6
"""
This program create a new dictionary by extracting the mentioned keys from the below dictionary
"""
sample_dict = { "name": "Anderson", "age": 35, "salary": 5000, "city": "London"}
keys = ["name", "salary"]

new_dict = {key: sample_dict[key] for key in keys}

# Display the new dictionary
print(new_dict)

{'name': 'Anderson', 'salary': 5000}

In [ ]:
# Question 5
"""
This program convert two lists into a dictionary in a way that item from list_one is the key and item from list_two is the value
"""
list_one = ['one', 'two', 'three']
list_two = [1, 2, 3]

# Converting lists into a dictionary
result_dict = dict(zip(list_one, list_two))

# Display the dictionary
print(result_dict)

{'one': 1, 'two': 2, 'three': 3}